.bg_lt{
  /* font-family: "Verdana"; */
  /* padding: 20px;
  top:60%;
  left: 40%; */
  width: 40%;
  color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color:blue !important;
  font-family: Cousine;

}
.content_wrapper{
  background: blue;
  display: flex;

}
/* thead{
  color:grey;
  padding: 50px;
} */
tbody{
  color:white;
  padding: 5px;
}

.stock_table{
  overflow-y:scroll;
  margin-right: 175px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #3c3c4d !important;

  /* display: block; */
  /* text-align: center; */
  /* border-radius: 5px; */
  /* width: 50%; */
  /* height: 300px; */
  /* font-size: 13px; */
  /* position: absolute; */
  /* right: 40px; */
  /* top:25%; */
  
  /* background-color:rgba(0, 0, 0, 0.4); */
}
.card_wrapper{
  background: red;
  width: 100%;
  display: flex;

}
.card_wrapper2{
  background: blue;
  width: 400px;
}
.stock-titles{
  width: 30%;
  height: 20%;
  position: absolute;
  left: 50%;
  top: 30%;
}
.keyInfo{
  width: 30%;
  height:30%;
  position: absolute;
  left: 10%;
 
  top: 70%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 20px;
}