.bg_lt{
  width: 40%;
  color:white;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color:blue !important;
  font-family: Cousine;
}

.positive_number{
  color: #68f9da;
  font-family: 'Barlow';
  text-shadow: rgba(2, 255, 196, 0.406) 0px 19px 38px, rgba(2, 255, 196, 0.007) 0px 15px 12px;
  font-weight: 700;
}
.Negative_number{
   color: #fa2307;
  font-family: 'Barlow';
  text-shadow: rgba(255, 2, 2, 0.406) 0px 19px 38px, rgba(255, 2, 2, 0.406) 0px 15px 12px;
  font-weight: 700;

}
/* .content_wrapper2{
  
  background:red;

}  */

/* thead{
  color:grey;
  padding: 50px;
} */
tbody{
  color:white;
  padding: 5px;
}
.trade_wrapper{
  margin: none;
  padding: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
}
.buy_form{
  background-color: #3c3c4d !important;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 500px;
  font-size: 11px !important;
  height: 221px;
  margin-top: 30px;
}
.stock_table{
  overflow-y:scroll;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #3c3c4d !important;
  font-size: 9px !important;;
}
.stock_card{
  background-color: #3c3c4d !important;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 350px;
  font-size: 11px !important;
  margin-bottom: 20px;
}
.stock_chart{
  width: 500px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 11px !important;
  margin-bottom: 20px;
  margin-top: 30px !important;
}
.full_stock_chart{
  width: 800px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 11px !important;
  margin-bottom: 20px;
}

.trades_table{
  background-color: #3c3c4d !important;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  font-size: 11px !important;
  margin-bottom: 20px;
  height: 220px;
  overflow: scroll;
}
.table thead th{
  vertical-align: middle !important;
  border-bottom: none !important;
  font-size: 10px !important;
  color: #656874;
  border-top: none !important;
}

.table td, .table th {
  border-top: none !important;
  border-bottom: none !important;
}
.card_wrapper{
  width: 100%;
  display: flex;

}
.card_wrapper2{
  width: 400px;
}
.stock-titles{
  width: 30%;
  height: 20%;
  position: absolute;
  left: 65%;
  top: 30%;
}
.keyInfo{
  width: 30%;
  height:30%;
  position: absolute;
  left: 10%;
 
  top: 70%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 20px;
}

.edit_button{
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.edit_icon{
  margin: 0;
  padding: 0;
  font-size: 10px;

}

input{
  background: #373A46 !important;
  border: none !important;
  color: #8c8d96 !important;
  font-weight: 700 !important;
  height: 30px;
  font-size: 15px;
}
input:active{
  background: #373A46 !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
}
input:focus{
  background: #373A46 !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
}

.Box{
width: 100%;

}

.input_wrapper1{
  justify-content: space-around;
  width: 350px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 25px;

}

.form{
  width: 100%;
  display:flex;
  height: 220px;
}