.bg_lt{
  /* font-family: "Verdana"; */
  padding: 20px;
  position:absolute;
  top:60%;
  left: 58%;
  width: 40%;
  color:white;
  background-color: #3c3d4e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-size: 12.5px;
  font-weight: bold;

}
/* .BuyingPower{ */
  /* background-color: white; */
  /* background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,1)); */
  /* margin-top: 5%; */
  /* padding: 10px 15px; */
  /* text-align: center; */
  /* text-transform: uppercase; */
  /* transition: 0.5s; */
  /* background-size: 200% auto; */
  /* color: black; */
  /* border-radius: 5px; */
  /* border:none; */
  /* font-size: 12px; */
  /* margin-bottom: 20px; */
  /* font-style: Arial; */
  /* font-size: 2.5em; */
  /* color:black; */
  /* font-weight: 500; */
  /* text-align: center; */
/* } */
thead{
  color:grey;
  padding: 50px;
}
tbody{
  color:white;
  padding: 5px;
}

#StockInfo{
  /* font-family: "Verdana"; */
  overflow-y:scroll;
  display: block;
  text-align: center;
  border-radius: 5px;
  width: 40%;
  height: 200px;
  font-size: 12.5px;
  position: absolute;
  right: 30px;
  top:30%;
  /* background-color:rgba(0, 0, 0, 0.4); */
  background-color: #3c3d4e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #202020;
}

.stock-titles{
  width: 30%;
  height: 30%;
  position: absolute;
  left: 78%;
  /* font-family: Verdana; */
  top: 30%;
}
.keyInfo{
  width: 30%;
  height:30%;
  position: absolute;
  left: 10%;
  /* font-family: Verdana; */
  top: 100%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 50px;
}