.chart__Container {
  border: 3px solid #6b9ba5ff;
  margin-top: auto;
  margin-left: auto;
  margin-right:auto;
  position: absolute;
  left:25%;
  top:20%;
  background-color: grey;
  size: 50.4%;
  height: 407px;
  width: 50.4%

}

.line__Container {
  margin-top: auto;
  background-color: grey;
  size: 50%;
  width: 50%;
  position:auto;

}