.stock_container{
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.full_stock_chart{
  width: 550px;
  font-size: 11px !important;
  margin-bottom: 20px;
}
.right_side{
  /* background-color: red; */
}
.price_card{
  margin-top: 20px;
  background-color: #3c3c4d !important;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white !important;
  font-size: 11px !important;
  width: 400px;
  margin-bottom: 140px;
}


.news_wrapper{
height:160px;
overflow: scroll;

}
.news_wrapper1{
height:600px;


}
.news_card{
  height: 150px;
  width: 400px !important;
  overflow: scroll;
  margin-bottom: none !important;
  margin-top: none !important;
  padding: 10px;
  font-family: "Cousine";
}
.info_container{

}
.info_wrapper{
display: flex;
flex-direction: column;
margin-bottom:50px;

}
.keyInfo{
  width: 100%;
}


.blue_square{
  position: absolute;
  height: 4000px;
  width: 1000px;
  background-color: blue;
  overflow: hidden;
  z-index: 0;
  right: 30%;
}


