.signup-form {
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin-top: 0px !important;
	border-radius: 10px;
	border-radius: 10px;
	height: 750px;
	width: 700px;
}

.input {
		padding: 2px;
	margin: 2px;
	border: .5px solid rgb(184, 182, 182) !important;
	height: 65px;
	font-weight: 600;
	background-color: #282F39 !important;
}

.input:hover {
	border: .5px solid rgb(184, 182, 182) !important;
}

.input:focus {
	border: .5px solid rgb(158, 143, 143) !important;
}

.signup-form-div {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: left;
	overflow: hidden;
}



.input-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	width: 80%;
}

label {
	font-family: "Barlow";
	font-weight: 600;
}

.signup-button {
color: black;
	background-color: #f5f4f0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
	width: 80%;
	border: none;
}

.signup-button:hover {
	background-color: #ffff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
	color: black;
}

.form-title {
	text-align: center;
	font-weight: 700;
	font-size: 60px;
	padding-bottom: 80px !important;
	font-family: "Barlow";
	color: #f5f4f0;
}

.form-sub {
	text-align: left !important;
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 10Px;
	padding: 0;
	padding-bottom: 0px;
	color: #f5f4f0 !important;
	font-family: "Barlow";
}

.cta-p {
	font-size: 12px;
	margin-top: 20px;
	font-weight: 600;
	font-family: "Barlow";
	color: #adadad !important;
}

.cta-a {
	margin-top: 20px;
	font-size: 14px !important;
	font-weight: 600;
	font-family: "Barlow";
	color: #f5f4f0 !important;
}

.cta-p:hover {
	font-size: 12px;
	text-shadow: none;
	color: #757575;
}

.cta-a:hover {
	font-size: 12px;
}

.errors {
	background-color: #d5d7db;
	border: 1px solid #373a46;
	color: #151647;
	font-family: "Barlow";
	font-size: 12px;
	margin-bottom: 5px;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: 600;
	text-align: center;
}